@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color:#5f0404;
    --secondary-color:#f3f3c0;
    --btn:#310202;
}

/* navbar */

.navbar{
    background: var(--main-color) !important;
}

.navbar .navbar-brand{
    font-size: 2rem;
    font-weight: 700;
}

.navbar input:focus{
    box-shadow: none;
    border: none;
}

.navbar .nav-link{
    font-size: 1.3rem;
}

/* banner slider */
/* banner slider */
#banner .carousel-inner img{
    height: 90vh;
    background-position: center center;
}
#banner .carousel-inner .carousel-caption{
    background: var(--main-color);
    opacity: 0.5;
    top:50%;
}


@media screen and(max-width:520px){
    /* banner slider */
#banner .carousel-inner img{
    height: 50vh;
    background-position: center center;
}
#banner .carousel-inner .carousel-caption{
    background: var(--main-color);
    opacity: 0.5;
    top:30%;
}
}